body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0px;
    justify-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 170vh;
}

.quote-container {
    scale: 100px;
    font-size: 100px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: green;
    height: 5vh;
    scale: 200%;
    margin: 0px;
    margin-bottom: 20px;
}


.audio-control {
    background-color: green; 
    color: white;
    border: none;
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    font-size: 20px;  
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    position: absolute;
    left: 20px; 
    bottom: 20px;
}

.audio-control:hover {
    background-color: #45a049; 
    transform: scale(1.1); 
}

.audio-control:active {
    background-color: #387a3b; 
    transform: scale(0.95); 
}
